.main {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  min-height: 100vh;

  .h1 {font-size: xxx-large}

  #searchBtn:hover {
    color: #bbc1ff !important;
  }

  .imgCover {
    height: 250px;
    width: 166px !important;
  }

  .movieTitle {
    color: #3e9bf4;
  }

  .movieDesc {
    font-stretch: ultra-condensed;
    max-height: 250px;
    min-height: 250px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px!important;
    }

    &::-webkit-scrollbar-thumb {
      background: rgb(85,123,181) !important;
      border-radius: 10px!important;
    }


  }
}
